spring:
  application:
    name: product-service
  threads:
    virtual:
      enabled: true
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          auto-create-topics: true
